In [1]:
"This is the, 'Hello', second day of class"

"This is the, 'Hello', second day of class"

In [2]:
'This is the, "Hello" second day of class'

'This is the, "Hello" second day of class'

In [3]:
'This is the, \'Hello\' second day of class'

"This is the, 'Hello' second day of class"

In [4]:
# String concatenation

"This is the second" + " " + "full day of class"

'This is the second full day of class'

In [5]:
# String interpolation - version 3.5 and below

phrase_word = "full"

"This the second {} day of class".format(phrase_word)

'This the second full day of class'

In [6]:
# String interpolation - version 3.6 and above

phrase_word = "full"

print("This is the second {phrase_word} day of class - without the 'f'")
print(f"This is the second {phrase_word} day of class - with the 'f'")

This is the second {phrase_word} day of class - without the 'f'
This is the second full day of class - with the 'f'

In [7]:
myString = "This is the second full day of class"

myString[12:18]

'second'

In [8]:
# string slicing

# [start:stop:step]
myString[5:18]

'is the second'

In [9]:
myString[::-1]

'ssalc fo yad lluf dnoces eht si sihT'

In [10]:
# list slicing
name_list = ["Derek", "Ripal", "Joe", "Jordan", "Frank"]
data_types_list = [12, 34, (1, 2, 3, 5), {6, 5, 6, 4, 4}]

combined_list = name_list + data_types_list

combined_list

['Derek', 'Ripal', 'Joe', 'Jordan', 'Frank', 12, 34, (1, 2, 3, 5), {4, 5, 6}]

In [11]:
combined_list[1] = "Connor"

In [12]:
combined_list

['Derek', 'Connor', 'Joe', 'Jordan', 'Frank', 12, 34, (1, 2, 3, 5), {4, 5, 6}]

In [13]:
name_list

['Derek', 'Ripal', 'Joe', 'Jordan', 'Frank']

In [14]:
print(len(myString))

36

In [15]:
print(name_list)

['Derek', 'Ripal', 'Joe', 'Jordan', 'Frank']

In [16]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [17]:
# Conditional Statements

myAge = 10

if(myAge <= 18):
    print("You're grown, but not THAT grown.")
elif(myAge > 18 and myAge < 22):
    print("Congrats. You're grown, now go work!")
else:
    print("You're fully grown now!")

You're grown, but not THAT grown.

In [18]:
# Looping

# For loop
for i in combined_list:
    print(i)

Derek
Connor
Joe
Jordan
Frank
12
34
(1, 2, 3, 5)
{4, 5, 6}

In [21]:
# While loop
i = 0
while(i <= 10):
    print(i)
    # i=i+1 # longhand version
    i+=1 # shorthand version

0
1
2
3
4
5
6
7
8
9
10

In [22]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [23]:
def add_nums(val1, val2):
    return val1 + val2

In [25]:
add_nums(3, 5)

8